$white: #fff;
$black: #111;

p {
    color: $white;
}

a {
    color: bisque;
    text-decoration: none;

    &:hover {
        color: $white;
    }
}

body {
    height: 100vh;
    padding: 0;
    background: url("../img/background.jpg") fixed center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $black;
    opacity: 0.9;
}

main {
    margin-bottom: 0;
    padding-bottom: 0;
}

.section {
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0;
    height: 10vh;
    margin: 0;
    background-color: $black;
    opacity: 0.65;

    &_1 {
        top: 10vh;
    }

    &_2 {
        top: 20vh;
    }

    &_3 {
        top: 30vh;
    }

    &_4 {
        top: 40vh;
    }

    &_5 {
        top: 50vh;
    }

    &_6 {
        top: 60vh;
    }

    &_7 {
        top: 70vh;
    }

    &_8 {
        top: 80vh;
        height: 15vh;
    }
}

.todo {
    font-family: 'Bungee', cursive;
    font-size: 50px;
    color: $white;

    &__text {
        font-family: 'Fredericka the Great', cursive;
        font-size: 40px;
        color: $white;
    }
}

@media (max-width: 700px) {
    .todo {
        font-size: 30px;
    }

    .todo__text {
        font-size: 22px;
    }
}

//divs between
.darkness {
    position: static;
    background-color: $black;
    height: 90vh;
    color: $white;
    align-items: center;
    display: flex;
    justify-content: center;

    ol {
        padding: 20px;

        li {
            font-size: 20px;
        }
    }

    .checkbtn {
        background: transparent;
        border: none;
        color: wheat;

        .bi-check-square-fill {
            font-size: 20px;
            opacity: 0.7;
            cursor: pointer;
            transition: 5s;

            &.active {
                opacity: 1;
                color: rgb(5, 205, 5);
            }
        }
    }
}

.first-text {
    font-size: 15px;
    line-height: 20px;
}

.true-light {
    height: 100vh;
    background-color: $black;
}

.footer {
    position: -webkit-sticky;
    position: sticky;
    top: 95vh;
    left: 0;
    right: 0;
    background-color: $black;
    height: 5vh;
}

.vertical-piece-in {
    height: 6vh;
    width: 3px;
    background-color: $white;
    margin-top: 2vh;
}

.horizontal-piece {
    height: 3px;
    width: 20%;
    background-color: $white;
    margin-top: 4vh;

    &::before {
        height: 4vh;
        width: 3px;
        background-color: $white;
    }
}

.button {
    padding: 10px 20px;
    background-color: rgb(0, 0, 49);
    color: bisque;
    border-radius: 15px;
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    max-height: 38px;

    &:hover {
        background-color: rgb(3, 3, 74);
        color: $white;
    }
}

.add-btn {
    color: bisque;
    background-color: rgb(2, 150, 2);
    padding: 10px 30px;
    text-transform: uppercase;

    &:hover {
        background-color: rgb(2, 126, 2);
        color: $white;
    }
}

.reset-button {
    position: fixed;
    right: 20vh;
    bottom: 7vh;
}

@media (max-width: 1100px) {
    .reset-button {
        right: 5vh;
        bottom: 7vh;
    }
}

.input-control {
    width: 75%;
    margin-right: 10px;
}

.todoList {
    color: white;

    p {
        color: bisque;
    }
}